div{
    margin-left: 10%;
    margin-right: 10%;
    border: 6px #A9A9A9 solid;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #EFEFEF;
}
.highlight
{
    border-left:3px solid steelblue;
    padding-left: 5px;
    background-color: rgba(0,196,204,.1);
}
.last{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
h3{
    color: rgb(0,94,204,0.4)
}
h1{
    font: small-caps 3.5em Oswald, sans-serif;
}
p{
    font: 1em 'Montserrat', sans-serif;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif; */